@font-face {
    font-family: "Epilogue";
    src: url("../../../fonts/Epilogue/Epilogue-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "EpilogueBold";
    src: url("../../../fonts/Epilogue/Epilogue-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "EpilogueLight";
    src: url("../../../fonts/Epilogue/Epilogue-Light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "MyriadPro";
    src: url("../../../fonts/MyriadPro/MyriadPro-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "MyriadProSemiBold";
    src: url("../../../fonts/MyriadPro/MyriadPro-SemiBold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "MyriadProLight";
    src: url("../../../fonts/MyriadPro/MyriadPro-Light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
